:root {
    --primary-color: #010218;
    --withe-color: #ffffff;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 2;
}

.intro-img img {
    height: auto;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    position: relative;
    top: -8rem;
}

.intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.top3-content {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    max-width: 65rem;
    text-align: center;
}

.information-grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    background-image: url('assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--withe-color);
}

.white-bg {
    background: var(--withe-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.5rem;
}

.menu {
    background: var(--withe-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
    text-decoration: none;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.p {
    margin-bottom: 3rem;
}

.top3-content h2 {
    margin-top: 10rem;
}

.intro-text-content h2 {
    margin-top: 10rem;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 320px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea[id="message"] {
    border: 0.2rem solid var(--primary-color);
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--withe-color);
    padding: 1.5rem 2rem;
    width: 100%;
}

.espacamento {
    padding-top: 10rem;
}

.form-group button {
    border: 0.2rem solid var(--primary-color);
    background: none;
    padding: 1.5rem 2rem;
  cursor: pointer; transition: all 300ms ease-in-out;
}